{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Мы супер пупер дупер информационная компания, которая размещает статьи</h1>
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom"><ya-tr-span data-index="35-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Features with title" data-translation="Функции с заголовком" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Функции с заголовком</ya-tr-span></h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis"><ya-tr-span data-index="36-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Left-aligned title explaining these awesome features" data-translation="Заголовок, выровненный по левому краю, объясняет эти потрясающие функции" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Заголовок, выровненный по левому краю, объясняет эти потрясающие функции</ya-tr-span></h2>
        <p class="text-body-secondary"><ya-tr-span data-index="37-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-translation="Абзац текста под заголовком, поясняющий заголовок. " data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Абзац текста под заголовком, поясняющий заголовок. </ya-tr-span><ya-tr-span data-index="37-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="We'll add onto it with another sentence and probably just keep going until we run out of words." data-translation="Мы дополним его другим предложением и, вероятно, просто продолжим, пока у нас не кончатся слова." data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Мы дополним его другим предложением и, вероятно, просто продолжим, пока у нас не кончатся слова.</ya-tr-span></p>
        <a href="#" class="btn btn-primary btn-lg"><ya-tr-span data-index="38-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Primary button" data-translation="Основная кнопка" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Основная кнопка</ya-tr-span></a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Рекомендуемое название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком для пояснения к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Рекомендуемое название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком для пояснения к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Рекомендуемое название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком для пояснения к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Рекомендуемое название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком для пояснения к заголовку.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}